HEIGHT: 13 
WIDTH: 10
BLOCK: goal 2 1
BLOCK: goal 3 3
BLOCK: goal 6 5
BLOCK: goal 7 9
BLOCK: agent 4 11
BLOCK: moving_obstacle 1 8
BLOCK: moving_obstacle 6 6
BLOCK: moving_obstacle 5 3
BLOCK: fixed_obstacle 1 2
BLOCK: fixed_obstacle 2 2
BLOCK: fixed_obstacle 3 2
BLOCK: fixed_obstacle 4 2
BLOCK: fixed_obstacle 4 3
BLOCK: fixed_obstacle 4 4
BLOCK: fixed_obstacle 4 5
BLOCK: fixed_obstacle 4 6
BLOCK: fixed_obstacle 4 7
BLOCK: fixed_obstacle 0 0
BLOCK: fixed_obstacle 0 1
BLOCK: fixed_obstacle 0 2
BLOCK: fixed_obstacle 0 3
BLOCK: fixed_obstacle 0 4
BLOCK: fixed_obstacle 0 5
BLOCK: fixed_obstacle 0 6
BLOCK: fixed_obstacle 0 7
BLOCK: fixed_obstacle 0 8
BLOCK: fixed_obstacle 0 9
BLOCK: fixed_obstacle 0 10
BLOCK: fixed_obstacle 0 11
BLOCK: fixed_obstacle 0 12
BLOCK: fixed_obstacle 1 0
BLOCK: fixed_obstacle 2 0
BLOCK: fixed_obstacle 3 0
BLOCK: fixed_obstacle 4 0
BLOCK: fixed_obstacle 5 0
BLOCK: fixed_obstacle 6 0
BLOCK: fixed_obstacle 7 0
BLOCK: fixed_obstacle 8 0
BLOCK: fixed_obstacle 9 0


BLOCK: fixed_obstacle 9 0
BLOCK: fixed_obstacle 9 1
BLOCK: fixed_obstacle 9 2
BLOCK: fixed_obstacle 9 3
BLOCK: fixed_obstacle 9 4
BLOCK: fixed_obstacle 9 5
BLOCK: fixed_obstacle 9 6
BLOCK: fixed_obstacle 9 7
BLOCK: fixed_obstacle 9 8
BLOCK: fixed_obstacle 9 9
BLOCK: fixed_obstacle 9 10
BLOCK: fixed_obstacle 9 11
BLOCK: fixed_obstacle 9 12
BLOCK: fixed_obstacle 1 12
BLOCK: fixed_obstacle 2 12
BLOCK: fixed_obstacle 3 12
BLOCK: fixed_obstacle 4 12
BLOCK: fixed_obstacle 5 12
BLOCK: fixed_obstacle 6 12
BLOCK: fixed_obstacle 7 12
BLOCK: fixed_obstacle 8 12
BLOCK: fixed_obstacle 9 12


